
/* *{
    margin: 0;
    padding: 0px;
} */
#box{
    width: 30%;
    /* border: solid; */
    margin: auto;
    /* margin-top: 100px; */
    /* margin-bottom:  */
    background-color: white;
}
#box > img{
    /* height: 200px;
    width: 300px; */
    background-color: transparent;

}
#box .main {
    /* padding: 30px; */
    /* border: solid; */
    font-size: 20px;
    width: 100%; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sign {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.sign > a{
    text-decoration: 0;
    color: black;
    padding-left: 10px;
}
.main > .lg{
    padding: 0px 20px 20px 30px; 
}
span{
    color:rgb(47, 183, 108);
}
.lg > input{
    padding: 20px;
    width: 90%;
}
.lg > a > button{
    padding: 20px;
    width: 99%;
    font-size: 20px;
    color: white;
    background-color:rgb(47, 183, 108);
    border: 0;
    font-weight: bold;
}
.main > .pic{
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: auto;
}
.pic > img{
    width: 40px;
    /* border: 1px solid black; */
    /* margin-right: 20px; */
    padding: 20px;
    cursor: pointer;
}
.pic > img:hover{
    background-color: rgb(221, 219, 219);
    /* border-radius: 5px; */
}