#nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 98%;
    padding: 0px 30px;
    height: 80px;
    background-color: transparent;
    position: sticky;
    top: 0;
    background-color: #424242;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}
#nav > .first{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;  
    /* border: solid; */
    width: 30%;
    text-decoration: none;
   
}
.first > img{
    width: 200px;
    height: 80px;
}
.first > a{
    text-decoration: none;
    color: white;
}
#nav #main {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav #main a{
    display: inline;
    padding: 10px 35px; 
    border: 1px solid black; 
    background-color:black; 
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    color:white;
} 

.box{
   /* border: solid green; */   
}
.box > h1{
    text-align: center;
    font-size: 80px;
}
.box > .linkk{
    /* border: solid; */
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.box > .linkk > a{
    text-decoration: none;
    /* border: solid; */
    margin: auto;
    color : black;
    font-size: 30px;
    text-align: center;
    padding: 0px 10px ;
}
.linkk > a:hover{
    color: #00E676;
    text-decoration: underline;
}

/* table portion */

#table {
    width: 70%;
    margin: auto;
    /* border: solid; */
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
#table > .Team_Plans{
    /* border: solid red; */
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.Team_Plans > h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    padding-top: 30px;
}
.rs{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rs > h1{
    font-size: 40px;
    margin-right: 20px;
}
.rs > h2{
    color: #757575;
}
.Team_Plans p{
    text-align: center;
    color: #757575;
    font-size: 25px;
    padding: 0px;
}
.Team_Plans > a{
    text-decoration: none;
}
a > button{
    display: block;
    margin: auto;
    font-size: larger;
    padding: 15px 25%;
    color: white;
    border: none;
    font-weight: bold;
}
.firstb > button {
    background-color:#1565C0;
}
.secondb > button{
    background-color:#701A75;
}
.thirdb > button{
    background-color:#191970;
}
ul > li{
    font-size: 24px;
    padding: 15px;
    margin-left: 20px;
    color: #383333;

}

/* bottom potion */
.btn{
    display: flex;
    /* border: solid; */
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 30px;
}
.btn > a{
    text-decoration: none;
    width: 30%;
    /* border: solid; */
}
.btn > a > button{
    /* display: block; */
    margin: auto;
    font-size: larger;
    padding: 15px 25%;
    /* color: white; */
    border: none;
    font-weight: bold;
}

.bottom{
    width: 70%;
    margin: auto;
    /* border: solid; */
}
.bottom > p{
    font-size: 20px;
    color: #757575;
    margin-bottom: 30px;
}
.bottom > h2{
    /* border: solid; */
    padding: 15px;
    text-align: center;
    background-color: #FFDAB9;
    margin-bottom: 0px;
    font-size: 25px;
}
.bottom > img{
    height: 700px;
}
.bottom > h1{
    text-align: center;
    font-size: 60px;
}
.flat{
    /* width: 90%; */
    /* border: solid; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
/* footer portion */

#footer2 {
    margin-bottom: 100px;
    margin-top: 50px;
    /* border: solid red; */
}
#footer2 > .card{
    display: flex;
    width: 90%;
    /* border: solid green; */
    margin: auto;
    justify-content: space-between;
}
#left p{
    font-size: 20px;
    margin: 0;
}
#select{
    margin: 30px 0;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: black;
}
.right{
    display: flex;
    /* border: solid orange; */
    align-items: end;
}